<!DOCTYPE html>
<html>
  <head>
    <title>Lowkey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPmbVpVJq7WqZgvXM3g8iy8OOE6jwG8Oc&libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
  </head>

  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  <script src="geocomplete.js" charset="utf-8"></script>
  <body>
  
  <%= render 'shared/navbar' %>

  <%= render 'shared/messages' %>
  
  <div class ="container">
    <%= yield %>
  </div>


  </body>
</html>
